* {
    margin: 0;
    padding: 0;
}

body{
    margin: 30;
}

.top{
    color: black;
    font-size: 25px;
    margin: 30px;
}

span{
    color: blue;
}

.main{
    display: flex;
    gap: 100px;
    margin: 30px;

}

.middle{
    display: flex;
    gap: 20px;
    border: 2px solid red;
    padding-bottom: 5px;
}

.bottom{
    display: flex;
    gap: 20px;
    border: 2px solid red;
}

.last{
    color: blue;
    margin-left: 1200px;
    padding-top: 180px;

}